doctype html
html(class="no-js", lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title Kodix Vanilla
    body
        table(style='width: 900px; margin: 100px auto;')
            thead
                td Название
                td Год
                td Цвет
                td Статус
                td Цена
                td
            tbody#carList

        script(src='js/bundle.js')